@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "DM Sans";
}

::selection {
    background-color: #ffeab8;
    color: black;
}

/* button hover and active style using ::after and ::before */
.menu-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    transition: all 0.4s ease-in;
    background-color: #cda43b;
}

.menu-link:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #cda43b;
}

.active-menu-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    transition: all 0.4s ease-in;
    background-color: #cda43b;
}